///////////////////////////////////////////////
// COLOR VARIABLES
$color-primary-blue-magenta: hsl(250, 55%, 20%);
$color-primary-blue-magenta-1: hsl(250, 50%, 21%);
$color-primary-very-dark-blue-magenta: hsl(240, 39%, 11%);
$color-primary-pink: hsl(330, 81%, 60%);
$color-primary-pink-red: hsl(349, 97%, 73%);
$color-primary-dark-red: hsl(0, 80%, 30%);
$color-primary-cyan-grey: hsl(220, 9%, 46%);
$color-primary-purple: hsl(258, 90%, 66%);
$color-primary-white: hsl(0, 0%, 100%);

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    color: $color-primary-white;
    background: $color-primary-blue-magenta;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}