///////////////////////////////////////////////
// COLOR VARIABLES
$color-primary-blue-magenta: hsl(250, 55%, 20%);
$color-primary-dark-blue-magenta: hsl(250, 50%, 21%);
$color-primary-white: hsl(0, 0%, 100%);

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    color: $color-primary-white;
    background: $color-primary-blue-magenta;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    // min-height: 100vh;
}