.header {
    margin: 2rem;
}

.title {
    display: flex;
    justify-content: space-between;
}

#new-todo {
    display: flex;
}

#todo-input {
    font-size: 1.25rem;
    // color: $color-primary-white;
    // border-radius: 0.5rem;
    // border: none;
    // outline: none;
    // background: hsla(0, 0, 0, 0.3);
    // width: 30rem;
    // margin-right: 0.5rem;
    // padding: 1rem;
}