.header {
    margin: 2rem;

&_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-primary-cyan-grey;
    font-size: 0.8rem;
    margin-bottom: 1rem;
 }

 &_title-1 {
     font-size: 1.3rem;
 }
}

.todo-input {
    font-size: 0.9rem;
    color: $color-primary-white;
    border-radius: 0.8rem;
    border: none;
    outline: none;
    background: hsla(0, 0, 0, 0.3);
    width: 25rem;
    padding: 1rem;
}

  .todo-list {
      margin: 2rem;
      font-size: 1rem;
      color: $color-primary-cyan-grey
  }

  .todos .todo .content {
    display: flex;
    justify-content: space-between;
    background: $color-primary-very-dark-blue-magenta;
    padding: 1rem;
    width: 25rem;
    border-radius: 0.8rem;
    margin-top: 0.3rem;
  }
  .content {
      list-style: none;
  }

  .text {
    border: none;
    outline: none;
    background: none;
    color: $color-primary-white;
    font-size: 0.8rem;
}

.delete {
    cursor: pointer;
    font-size: 1.2rem;
    transition: all .3s;

    &:hover {
        color: $color-primary-dark-red;
    }
}


 